doctype html
html
  head
    title MyPage
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/') Home
      li
        a(href='/services') Our Services
      li
        a(href='/contact') Contact us
    block content

     p All rights are preserved.
    Terms
